//Post
.single-post .post {
	& > p:nth-child(2) {
		@include rem(margin-top, $unit);
		@include fs(19px);
		line-height:1.6;
	}
}

// Blockquotes
blockquote {
	font-family: $fontFamilySansSerif-alt;
	color:#b2b2b2;
	font-style:normal;
	font-weight:lighter;
	@include fs(36px);
	@include rem(margin, 0 0 1/2*$unit);
	@include rem(padding, $unit);
	border:none;

	&:before {
		content: '';
		display: block;
		margin: 0 auto 25px;
		@extend .hr;
	}

	p:first-child {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	//Inside the content
	p & {
		//@extend %link;
		
	}
}


b, strong {
	line-height: 0;
}

%heading {
	color: $accentColor;
}

//Bigger Headings
.bigger-headings {
	.alpha 		{@include fs(ms(9))};
	.beta 		{@include fs(ms(8))};
	.gama 		{@include fs(ms(6))};
	.delta 		{@include fs(ms(6))};
	.epsylon 	{@include fs(ms(5))};
	.zeta 		{@include fs(ms(4))};

}